/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html {
  height: 100%;
  font-size: 1em;
  line-height: 1.0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 960px;
  min-width: 680px;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

img.logo {
  width: 200px;
  margin-top: 5px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: #000000;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    height: 100%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 10px solid #d2d2d2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; 
  z-index: 100;
}

.info-container {
 position: fixed;
 top: 50%;
 left: 50%;
 margin-left: -190px;
 margin-top: -190px;
-webkit-border-radius:460px;
 -moz-border-radius:460px;
 -o-border-radius:460px;
 -ms-border-radius:460px;
 border-radius:460px;
 padding: 70px 40px;
 width: 300px; 
 height: 240px;
 background-color: #ffffff;
 color: #000000;
 z-index: 100;
 text-align: center;
 font-size: 14px;
 line-height: 16px;
}

.footer-container {
 position: fixed;
 bottom: 0px;
 left: 0px;
 width: 100%; 
 z-index: 100;
}

.footer-container,
.main aside {
    border-top: 10px solid #d2d2d2;
}

.footer-container aside {
   position: relative;
   display: inline-block;
   right: 220px;
   bottom: 0px;
   width: 30%;
   text-align: right;
   font-size: 10px;
}

.header-container aside {
   position: relative;
   display: inline-block;
   right: 220px;
   bottom: 0px;
   width: 100%;
   text-align: right;
   font-size: 10px;
}

.header-container aside {
   right: 10px;
   font-size: 0.8em;
   color: #000000;
}

.header-container aside a {
   color: #000000;
}

.header-container aside a:hover {
   text-decoration: underline;
}

.footer-container section {
   position: relative;
   display: inline-block;
   left: 15px;
   bottom: 10px;
   width: 69%;
   text-align: left;
}

.header-container section {
   position: relative;
   display: inline-block;
/*   left: 15px;
   top: 5px;
   width: 69%;*/
   text-align: left;
}

.header-container,
.footer-container,
.main aside {
    background: #EFEFEF;
    color: #000000;
}

.footer-container #shortURL {
   position: relative;
   display: inline-block;
   right: 5px;
   width: 100px;
   text-align: right;
   font-size: 20px;
}

.print-info-container {
  display: none;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    background: #222222;
}

nav a:hover,
nav a:visited {
    /*color: white;*/
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    /*color: white;*/
    padding: 0px 5% 10px;
}

.footer-container {
    /*color: white;*/
    padding: 10px 0 0 0;
}

.footer-container a {
    /*color: white;*/
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

#WWTCanvasPre {
  position: fixed;
  top: 0px;
  left: 0px;
  height:500px;
}

/*FORM CSS*/

form {
  margin: 5px auto;
}

input {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  border:1px solid #ccc;
  font-size:1.0em;
  width:150px;
  /*min-height:30px;*/
  display:block;
  margin-bottom:8px;
  margin-top:2px;
  outline: none;

  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;
}

input[type=submit] {
  background:none;
  padding:5px;
}

#coords_break {
  display: none;
}

#latitude, #longitude {
  display: inline-block;
  display: none;
  width: 69px;
}

#lat_label, #lon_label {
  width: 69px;
  display: inline-block;
  display: none;
}

#disclaimer {
  display: inline-block;
  width: 160px;
  font: 10px/14px Helvetica, Helvetica Neue, Arial;
  text-align: justify;
}

#submit_button {
  margin-top: 30px;
  background: #000000;
  color: #ffffff;
}

#submit_button:hover {
  margin-top: 30px;
  background: #6023db;
  color: #ffffff;
}

.main section.popup {
  clear: both;
  padding: 10px 20px;
  background: rgba( 210, 210, 210, 0.8);
  color: #efefef;
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 101;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;
}

.main section.popup label {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #efefef;
}

div.zoom_button {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: rgba( 202, 202, 202, 1.0);
  color: #222222;
  padding: 10px;
  text-align: center;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -o-border-radius:20px;
  -ms-border-radius:20px;
  border-radius:20px; 
  cursor: pointer;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
}

div.zoom_button:hover {
  background: rgba( 90, 90, 90, 1.0);
}

div.zoom_button img {
  width: 100%;
  height: 100%;
}

div#zoom_out  {
  right: 75px;
}

div.icon {
  position: absolute;
  bottom: 15px;
  left: 300px;
  width: 30px;
  height: 30px;
  background: rgba( 202, 202, 202, 1.0);
  color: #222222;
  padding: 10px;
  text-align: center;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  -o-border-radius:30px;
  -ms-border-radius:30px;
  border-radius:30px; 
  cursor: pointer;
  z-index: 101;
}

div.icon:hover {
  background: rgba( 90, 90, 90, 1.0);
}

div.icon img {
  width: 100%;
  height: 100%;
}

div#people  {
  left: 365px;
}

div#planets  {
  left: 430px;
}

div#deepsky  {
  left: 495px;
}

span.badge {
  display: none;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  -ms-border-radius:8px;
  border-radius: 8px;
  background: #cc1919;
  color: #ffffff;
  font-size: 9px;
  font-weight: strong;
  text-align: center;
  line-height: 16px;
  height: 16px;
  width: 16px;
  border: 1px solid white; 
  position: absolute;
  top: -8px;
  left: -8px; 
}

div.acc {
  display: none;
}

span.accordion-top, span.accordion-bottom {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100px;
}

div.acc h2 {
  margin: 0 auto;
  width: 50%;
}

section#nav ul, section#subnav ul {
  list-style-type:none;
  width:330px;
  position:relative;
  display:block;
  font-size:1.0em;
  margin:0;
  padding:0;
  z-index: 100;
}

section#subnav ul {
  margin-bottom: 5px;
}

section#nav li, section#subnav li {
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  padding: 2px;
  font-size: 1.0em;
  font-weight: normal;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

section#subnav li {
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  padding: 2px;
  font-size: 0.8em;
  font-weight: normal;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

section#nav li:hover, section#nav .active, section#subnav li:hover, section#subnav .active {
  background-color:#000000;
}

section#nav li.last, section#subnav li.last {
  margin-right: 0px;
}

section#nav li.inactive, section#subnav li.inactive {
  background: rgba( 0, 0, 0, 0.4);
  color: rgba( 255, 255, 255, 0.4);
}

section#background-container {
  clear: both;
  padding: 5px 2px 5px 5px;
  background: rgba( 210, 210, 210, 1.0);
  color: #000000;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 330px;
  z-index: 99;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;
}

.background {
  display: none;
  padding-top: 5px;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bgwrapper {
  margin: 0px 4px 0px 0px;
  padding: 5px;
  background-color: #ffffff;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
  border-radius:3px;
  text-align: left;
}

.bgwrapper h3 {
  margin: 0;
  padding: 0;
  font-size: 1.0em;
}

.bgwrapper p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 3px 0;
}

.bg-gallery {
  display: none;
}

#gallery-1-content {
  display: block;
}

.gallery {
  width: 330px;
}

.thumb-half {
  display: inline-block;
  margin: 0 0px 5px 0;
}

.thumb-half img {
  display: inline-block;
  width: 155px;
}

.gallery .thumb {
  display: inline-block;
  margin: 0 3px 5px 0;
  width: 100px;
  height: 105px;
}

.gallery .thumb img {
  width: 100px;
  height: 80px;
  display: inline-block;
  position: relative;
}

.gallery .thumb .caption {
  position: relative;
  top: 0px;
  display: inline-block;
  color: rgba( 160, 160, 160, 1.0);
  font-size: 9px;
  line-height: 14px;
  height: 16px;
  width: 100px;
  margin 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.gallery .thumb:hover .caption {
  color: rgba( 80, 80, 80, 1.0);
}

#info-okay {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  padding: 5px;
  font-size: 1.0em;
  font-weight: normal;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;

}

ul.menu {
  position: absolute;
  bottom: 65px;
  z-index: 1000;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 50px;
  /*display: none;            */
}

.menu li {
  background: rgba( 202, 202, 202, 1);
  width: 50px;
  height: 50px;
  color: #000000;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  position: absolute;
  z-index: 1000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -moz-box-shadow: 0 0 10px rgba( 60, 60, 60, 0.5);
  -webkit-box-shadow: 0 0 10px rgba( 60, 60, 60, 0.5);
  box-shadow: 0 0 10px rgba( 60, 60, 60, 0.5);
}

.menu li.active {
  -moz-box-shadow: 0 0 10px rgba( 60, 60, 60, 1);
  -webkit-box-shadow: 0 0 10px rgba( 60, 60, 60, 1);
  box-shadow: 0 0 10px rgba( 60, 60, 60, 1);
}

.menu li:hover {
  background: rgba( 90, 90, 90, 1.0);
  -moz-box-shadow: 0 0 10px rgba( 60, 60, 60, 1);
  -webkit-box-shadow: 0 0 10px rgba( 60, 60, 60, 1);
  box-shadow: 0 0 10px rgba( 60, 60, 60, 1);
}

.menu li img {
  width: 60%;
}

.menu li a {
  color: #000000;
  text-decoration: none;
}

.menu li a:hover {
  color: #000000;
}

ul.circleMenu-open, ul.circleMenu-closed {
  display: block;
}

ul.circleMenu-closed li {
  font-size: 1px;
}

ul.circleMenu-open li {
  display: block;
  position: relative;
  line-height: 12px;
  font-size: 10px;
}

.menu span.details, ul.circleMenu-closed span.details {
  display: none;
}

ul.circleMenu-open span.details {
  display: none;
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  line-height: 14px;
  font-size: 11px;
  color: #ffffff;
  text-align: center;
}

#deep {
  position: absolute;
  bottom: 65px;
  left: 320px;
  z-index: 1000;
}

#people {
  position: absolute;
  bottom: 65px;
  left: 240px;
  z-index: 1000;
}

#people img {
  margin-left: -5px;
}

span.settings {
  position: absolute;
  bottom: 10px;
  right: 250px;
  width: 100px;
  z-index: 1000;
  font-size: 0.8em;
}

span.label {
  display: inline-block;
  text-align: right;
}

input[type="checkbox"] {
  display: inline-block;
  color: #000000;
  text-align: center;
  line-height: 20px;
  width: 20px;
}

#figures {
  /*right: 320px;*/
}

#boundaries {
  /*right: 280px;*/
}

.map_canvas {
  position: relative;
  width: 270px;
  height: 140px;
  margin: 5px;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.map_canvas_wrapper {
  display: none;
  position: absolute;
  width: 280px;
  height: 150px;
  left: -305px;
  bottom: 138px;
  background: rgba( 210, 210, 210, 0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: 
  position: relative;
  border: 3px solid #000000;
}

.map_canvas_wrapper:after, .map_canvas_wrapper:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.map_canvas_wrapper:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: rgba( 210, 210, 210, 0.8);
  border-width: 30px;
  top: 50%;
  margin-top: -30px;
}
.map_canvas_wrapper:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #000000;
  border-width: 34px;
  top: 50%;
  margin-top: -34px;
}
}