body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 13px Arial, Helvetica,"Lucida Grande", serif; color: #000;}

/*Header*/
h2 {color:#000; font-size:25px;}

/* Links */
a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 11px;}
a[href^="http://"] {color:#000;} 

/*Image*/
img, img a {border:none;}

body {
	width: 100%;
	height: 100%;
}

@page {
  size: landscape;
}

div.page    { 
   writing-mode: tb-rl;
}

#main-box {
	width: auto;
}

#WWTCanvas{
	border-top: 5pt solid white;
	border-left: 5pt solid white;
	border-right: 5pt solid white;
	border-bottom: none;
	/*padding: 10px;*/
}

#WWTCanvas canvas {
	width: auto;
}

.print-info-container {
	display: block;
	border-bottom: 5pt solid white;
	border-left: 5pt solid white;
	border-right: 5pt solid white;
	border-top: none;
	width: auto;
	font-size: 1.1em;
	text-align: right;
}

.print-info-container p {
	margin: 15px 0;
	text-align: left;
	float: left;
}

.print-info-container .logo {
	display: inline-block;
	width: 25%;
	float: right;
}

.print-info-container #print-text {
	display: inline-block;
	width: 70%;
}

/*Remove Element*/
.popup, .main, .header-container, .info-container, .footer-container, .zoom-container {display:none;}

/*Footer*/
/*#footer {margin-top:10px;}*/